<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'
      xmlns:th='http://www.thymeleaf.org'>

<head>
  <meta charset='utf-8'/>
  <title>Home</title>
  <link href='/../css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class='container'>
  <div class='row'>
    <div class='col-6 text-right'>
      Logged in user: <b class='user' th:inline='text'> [[${#httpServletRequest.remoteUser}]] </b>
      <form method='POST' th:action='@{/app-logout}'>
        <input type='submit' value='Logout'/>
      </form>
    </div>
  </div>
  <div class='row'><h2>Patient List</h2></div>
  <div class='row'>
    <a class='btn btn-primary btn-sm' href='/patient/add'>Add New</a>
    <table class='table table-bordered'>
      <thead>
      <tr>
        <th>Id</th>
        <th>Family</th>
        <th>Given</th>
        <th>Dob</th>
        <th>Sex</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each='patients : ${patients}'>
        <td th:text='${patients.id}'></td>
        <td th:text='${patients.family}'></td>
        <td th:text='${patients.given}'></td>
        <td th:text='${#temporals.format(patients.dob,"yyyy-MM-dd")}'></td>
        <td th:text='${patients.sex}'></td>
        <td th:text='${patients.address}'></td>
        <td th:text='${patients.phone}'></td>
        <td class='text-center' style='width: 15%'>
          <a th:href='@{/patient/update/{id}(id=${patients.id})}'>Edit</a>&nbsp;|&nbsp;
          <a th:href='@{/patient/delete/{id}(id=${patients.id})}'>Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
